ul {
  width: 100%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.img_search {
  height: 3vh;
  float: right;
  margin-top: 20px;
  margin-right: 30px;
}

.navbar {
  position: fixed;
  width: 100%;
  padding: 10px;
  height: 10vh;
  z-index: 100;
  border: 0 solid white;
  background-color: #D9D9D9;
}

.logo {
  height: 6vh;
  left: 40%;
  position: relative;
  margin-top: 10px;
}
.box {
  margin-top: 30px;
}

